/*CSS that designs the screen for a window/device size of < 1000px*/
@media only screen and (max-width: 1000px) {
    #text {
        margin: 3%;
        font-size: 14px;
    }

    h2 {
        margin: 3%;
    }

    .boxHeader {
        margin-left: 3%;
    }

    .contentLeft {
        display: inline-block;
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 6%;
        background-color: white;
        border: 2px solid grey;
    }

    .contentRight {
        display: inline-block;
        margin-top: 3%;
        margin-left: 3%;
        background-color: white;
        border: 2px solid grey;
    }

    .boxContent {
        margin-left: 3%;
        margin-right: 3%;
    }

    #international {
        width: 306px;
    }
}

/*CSS that designs the screen for a window/device size of > 1000px*/
@media only screen and (min-width: 1000px) {
    .boxHeader {
        margin-left: 3%;
    }

    .contentLeft {
        display: inline-block;
        margin-top: 3%;
        margin-right: 12%;
        background-color: white;
        border: 2px solid grey;
    }

    .contentRight {
        display: inline-block;
        margin-top: 3%;
        background-color: white;
        border: 2px solid grey;
    }

    .boxContent {
        margin-left: 3%;
        margin-right: 3%;
    }

    #international {
        width: 306px;
    }
}

/*CSS that designs the page for windows/devices < 500px*/
@media only screen and (max-width: 500px) {
    #text {
        margin: 8%;
    }

    h1 {
        margin-left: 8%;
    }

    h2 {
        margin: 8%;
    }

    .boxHeader {
        margin-left: 3%;
    }

    .contentLeft {
        display: inline-block;
        margin-top: 3%;
        margin-left: 8%;
        margin-right: 8%;
        background-color: white;
        border: 2px solid grey;
    }

    .contentRight {
        display: inline-block;
        margin-top: 3%;
        margin-left: 8%;
        margin-right: 8%;
        background-color: white;
        border: 2px solid grey;
    }

    .boxContent {
        margin-left: 3%;
        margin-right: 3%;
    }

    #international {
        width: 83%;
        max-width: 306px;
    }
}

p {
    text-align: justify;
}

/*CSS that colours the navigation bars text depending on the active page and when the mouse hovers over it*/
li a.active {
    color: #FFF829;
}

#home a:hover {
    color: #2B77EC;
    animation-name: home;
    animation-duration: 0.5s;
}

@keyframes home {
    from {color: white;}
    to {color: #2B77EC;}
}

#news a:hover {
    color: #E5212A;
    animation-name: news;
    animation-duration: 0.5s;
}

@keyframes news {
    from {color: white;}
    to {color: #E5212A;}
}

#research a:hover {
    color: #60EC3D;
    animation-name: research;
    animation-duration: 0.5s;
}

@keyframes research {
    from {color: white;}
    to {color: #60EC3D}
}

#courses a:hover {
    color: #FF5F15;
    animation-name: courses;
    animation-duration: 0.5s;
}

@keyframes courses {
    from {color: white;}
    to {color: #FF5F15}
}

#faq a:hover {
    color: #A12CF8;
    animation-name: faq;
    animation-duration: 0.5s;
}

@keyframes faq {
    from {color: white;}
    to {color: #A12CF8}
}
