/*CSS that designs the screen for a window/device size of > 1000px*/
@media only screen and (min-width: 1000px) {
    #img1 {
        width: 50%;
        border: 2px solid grey;
        float: right;
        margin-left: 3%;
    }
}

/*CSS that designs the screen for a window/device size of < 1000px*/
@media only screen and (max-width: 1000px) {
    #img1 {
        width: 50%;
        border: 2px solid grey;
        float: right;
        margin-left: 3%;
        margin-right: 3%;
    }
}

/*CSS that designs the page for windows/devices < 400px*/
@media only screen and (max-width: 400px) {
    #img1 {
        width: 83%;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 3%;
    }
}