/*CSS that designs the screen for a window/device size of < 1000px*/
@media only screen and (max-width: 1000px) {

    figure {
        margin: 3%;
    }

    /*CSS for the topic texts*/
    figcaption {
        font-size: 14px;
        text-align: justify;
    }
}


/*CSS that designs the page for windows/devices > 1000px*/
@media only screen and (min-width: 1000px) {
    figure {
        margin: 0;
    }

    figcaption {
        text-align: justify;
    }
}

/*CSS that designs the page for windows/devices < 400px*/
@media only screen and (max-width: 400px) {
    figure {
        margin: 8%;
    }

    h1 {
        margin-left: 8%;
    }
}

/*CSS for the colour of the topic headings*/
#cap1 {
    color: red;
    padding: 0;
}

#cap2 {
    color: #E5CD00;
    padding: 0;
}

#cap3 {
    color: #23C6D0;
    padding: 0;
}

img.contentImg {
    width: 50%;
    height: 50%;
    border: 2px solid grey;
    float: right;
    margin-left: 3%;
    margin-bottom: 3%;
    max-width: 400px;
}

/*Makes sure the image stays above the line*/
@media only screen and (min-width: 1000px) {
    hr.break {
        margin-top: 7%;
    }
}


/*CSS that colours the navigation bars text when the mouse hovers over it*/
li a.active {
    color: #2B77EC;
}

#news a:hover {
    color: #E5212A;
    animation-name: news;
    animation-duration: 0.5s;
}

@keyframes news {
    from {color: white;}
    to {color: #E5212A;}
}

#about a:hover {
    color: #FFF829;
    animation-name: about;
    animation-duration: 0.5s;
}

@keyframes about {
    from {color: white;}
    to {color: #FFF829;}
}

#research a:hover {
    color: #60EC3D;
    animation-name: research;
    animation-duration: 0.5s;
}

@keyframes research {
    from {color: white;}
    to {color: #60EC3D}
}

#courses a:hover {
    color: #FF5F15;
    animation-name: courses;
    animation-duration: 0.5s;
}

@keyframes courses {
    from {color: white;}
    to {color: #FF5F15}
}

#faq a:hover {
    color: #A12CF8;
    animation-name: faq;
    animation-duration: 0.5s;
}

@keyframes faq {
    from {color: white;}
    to {color: #A12CF8}
}