/*CSS of the Body*/
body {
    background-color: #D0C0DC;
    /*background-color: #BE70CA;*/
    font-family: Calibri, Geneva, sans-serif;
    padding: 0;
    margin: 0;
}

/*CSS for the navigation bar.*/
ul.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #27272A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.nav-tabs li {
    float: left;
}

ul.nav-tabs li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 21px;
}

ul.nav-tabs li a.active {
    background-color: #141314;
}

ul.nav-tabs li a:not(.active) {
    color: white;
}

ul.nav-tabs li a:hover:not(.active) {
    background-color: #555;
}

ul.nav-tabs li.icon {
    display: none;
}

/*This code creates a navigation bar for smaller device/window sizes.*/
@media screen and (max-width:755px) {
    ul.nav-tabs li a.tabs {
        display: none;
    }

    ul.nav-tabs li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:755px) {
    ul.nav-tabs.responsive {
        position: relative;
    }

    ul.nav-tabs.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.nav-tabs.responsive li {
        float: none;
        display: inline;
    }

    ul.nav-tabs.responsive li a {
        display: block;
        text-align: left;
    }

    ul.nav-tabs li a {
        font-size: 18px;
    }
}


/*CSS that designs the screen for a window/device size of > 1000px*/
@media only screen and (min-width: 1000px) {

    #container {
        height: 100%;
        background-color: white;
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 1%;
    }

    #logo {
        width: 25%;
        min-width: 270px;
        max-width: 400px;
        margin-left: 4%;
        margin-top: 1%;
    }

    #content {
        margin-left: 0;
        margin-right: 35%;
    }

    hr {
        margin: 0;
    }

    /*A little CSS for mock search bar*/
    #search {
        float: right;
        margin-right: 20px;
        padding: 16px;
    }

    #inputBar {
        width: 200px;
    }

    footer {
        background-color: #27272A;
        color: white;
        font-size: 14px;
        padding: 12px;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #textLeft {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    #textRight {
        margin: 0;
        padding: 0;
        float: right;
        display: inline-block;
        text-align: right;
    }
}

/*Stops the search bar from going below the navigation tabs*/
@media only screen and (max-width: 1150px) {
    #inputBar {
        width: 80px;
    }
}


/*CSS that designs the screen for a window/device size of < 1000px*/
@media only screen and (max-width: 1000px) {
    #container {
        height: 100%;
        background-color: white;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        min-height: 800px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #logo {
        width: 25%;
        min-width: 240px;
        margin-left: 1%;
        margin-top: 1%;
    }

    h1 {
        margin: 3%;
    }


    hr {
        margin-left: 3%;
        margin-right: 3%;
    }

    /*A little CSS for mock search bar*/
    #search {
        float: left;
        padding: 14px;
    }

    #inputBar {
        width: 80px;
    }

    footer {
        background-color: #27272A;
        color: white;
        font-size: 14px;
        padding: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #textLeft {
        margin-top: 0;
        margin-bottom: 12px;
        padding: 0;
        display: block;
        text-align: center;
    }

    #textRight {
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
    }

    .footerMediaContainer {
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
        width: 178px;
    }
}

/*Makes the title size smaller for windows/devices < 650px*/
@media only screen and (max-width: 650px) {
    h1 {
        font-size: 26px;
    }
}


/*CSS that designs the screen for windows/devices < 500px*/
@media only screen and (max-width: 500px) {

    #container {
        padding-top: 5px;
    }

    nav {
        position: fixed;
        width: 100%;
        top: 0;
    }

    #logo {
        margin-top: 60px;
        margin-bottom: 5px;
    }
}


/*CSS that designs the a side bar for windows/devices > 1000px*/
@media only screen and (min-width: 1000px) {

    section.right {
        width: 28%;
        max-width: 300px;
        min-width: 260px;
        float: right;
        margin-top: 2%;
    }

    section.side {
        width: 100%;
        height: 100%;
        max-width: 300px;
        min-width: 260px;
        background-color: #B1DFDF;
        float: right;
        margin-top: 2%;
        border-radius: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    section.twitter {
        width: 100%;
        max-width: 300px;
        min-width: 260px;
        float: right;
        margin-top: 20%;
        border-radius: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h3 {
        padding-left: 20px;
        color: #36BF5F;
    }
}


/*CSS that causes side bar to disappear when window/device width < 1000px*/
@media all and (max-width: 1000px) {

    section.side{ display: none; }

    section.twitter{ display: none; }
}


/*When hovering the mouse over regular links they are highlighted*/
a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}


/*Code for designing the social media app logos in the side bar*/
#facebook {
    background-color: #333;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    margin-left: 8%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#facebook:hover {
    background-color: #084289;
    animation-name: fbook;
    animation-duration: 0.5s;
}

@keyframes fbook {
    from {background-color: #333;}
    to {background-color: #084289;}
}

#afacebook:hover {
    text-decoration: none;
}

#twitter {
    background-color: #333;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    margin-left: 4%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#twitterImg {
    width: 50%;
}

#twitter:hover {
    background-color: #29CAEE;
    animation-name: twit;
    animation-duration: 0.5s;
}

@keyframes twit {
    from {background-color: #333;}
    to {background-color: #29CAEE;}
}

#atwitter:hover {
    text-decoration: none;
}

#youtube {
    background-color: #333;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    margin-left: 4%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#youtubeImg {
    width: 65%;
}

#youtube:hover {
    background-color: #E82323;
    animation-name: utube;
    animation-duration: 0.5s;
}

@keyframes utube {
    from {background-color: #333}
    to {background-color: #E82323;}
}

#ayoutube:hover {
    text-decoration: none;
}


#pageEnd {
    width: 85%;
    border-width: 0;
}


/*When the side bar is removed at < 1000px, the social media icons appear in the footer*/
@media all and (min-width: 1000px) {
    .footerMediaContainer{ display: none; }
}


/*Code for designing the social media app logos within the footer*/
#facebookFooter {
    background-color: #333;
    color: white;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#facebookFooter:hover {
    background-color: #084289;
    animation-name: fbookFooter;
    animation-duration: 0.5s;
}

@keyframes fbookFooter {
    from {background-color: #333;}
    to {background-color: #084289;}
}

#afacebookFooter:hover {
    text-decoration: none;
}

#twitterFooter {
    background-color: #333;
    display: inline-block;
    margin-left: 5%;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#twitterImgFooter {
    width: 50%;
    /*-webkit-filter: invert(80%); Safari 6.0 - 9.0
    filter: invert(80%);*/
}

#twitterFooter:hover {
    background-color: #29CAEE;
    animation-name: twitFooter;
    animation-duration: 0.5s;
}

@keyframes twitFooter {
    from {background-color: #333;}
    to {background-color: #29CAEE;}
}

#atwitterFooter:hover {
    text-decoration: none;
}

#youtubeFooter {
    background-color: #333;
    display: inline-block;
    margin-left: 5%;
    font-size: 40px;
    text-align: center;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#youtubeImgFooter {
    width: 65%;
}

#youtubeFooter:hover {
    background-color: #E82323;
    animation-name: utubeFooter;
    animation-duration: 0.5s;
}

@keyframes utubeFooter {
    from {background-color: #333;}
    to {background-color: #E82323;}
}

#ayoutubeFooter:hover {
    text-decoration: none;
}