/*CSS that designs the screen for a window/device size of < 1000px*/
@media only screen and (max-width: 1000px) {
    #text {
        margin: 3%;
        font-size: 14px;
    }

    h2 {
        margin: 3%;
    }
    /* Image Links */

    #firstCaption {
        width: 28%;
        min-width: 120px;
        display: inline-block;
        margin-left: 3%;
    }

    div.captions {
        width: 28%;
        min-width: 120px;
        display: inline-block;
        margin-left: 4%;
    }

    img.images {
        width: 100%;
        border: 2px solid grey;
    }
    /* End of Image Links */
}

/*CSS that designs the screen for a window/device size of > 1000px*/
@media only screen and (min-width: 1000px) {
    /* Image Links */

    #firstCaption {
        width: 28%;
        min-width: 120px;
        display: inline-block;
        margin: 0;
    }

    div.captions {
        width: 28%;
        min-width: 120px;
        display: inline-block;
        margin-left: 7%;
    }

    img.images {
        width: 100%;
        border: 2px solid grey;
    }
    /* End of Image Links */
}

p {
    text-align: justify;
}

p.capText {
    text-align: center;
}

/*CSS that designs the page for windows/devices < 500px*/
@media only screen and (max-width: 500px) {
    #text {
        margin: 8%;
        border-top: 1px solid grey;
    }

    .capText {
        font-size: 18px;
    }

    h1 {
        margin-left: 8%;
    }

    h2 {
        margin-left: 8%;
    }

    /* Image Links */
    #firstCaption {
        width: 60%;
        max-width: 200px;
        min-width: 120px;
        display: block;
        margin-left: 8%;
    }

    div.captions {
        width: 60%;
        max-width: 200px;
        min-width: 120px;
        display: block;
        margin-left: 8%;
        margin-top: 8%;
    }

    img.images {
        width: 100%;
        border: 2px solid grey;
    }
    /* End of Image Links */
}

/*CSS that colours the navigation bars text depending on the active page and when the mouse hovers over it*/
li a.active {
    color: #60EC3D;
}

#home a:hover {
    color: #2B77EC;
    animation-name: home;
    animation-duration: 0.5s;
}

@keyframes home {
    from {color: white;}
    to {color: #2B77EC;}
}

#news a:hover {
    color: #E5212A;
    animation-name: news;
    animation-duration: 0.5s;
}

@keyframes news {
    from {color: white;}
    to {color: #E5212A;}
}

#about a:hover {
    color: #FFF829;
    animation-name: about;
    animation-duration: 0.5s;
}

@keyframes about {
    from {color: white;}
    to {color: #FFF829;}
}

#courses a:hover {
    color: #FF5F15;
    animation-name: courses;
    animation-duration: 0.5s;
}

@keyframes courses {
    from {color: white;}
    to {color: #FF5F15}
}

#faq a:hover {
    color: #A12CF8;
    animation-name: faq;
    animation-duration: 0.5s;
}

@keyframes faq {
    from {color: white;}
    to {color: #A12CF8}
}
