/*CSS that designs the screen for a window/device size of < 1000px*/
@media only screen and (max-width: 1000px) {
    #text {
        margin: 3%;
        font-size: 14px;
    }

    #subheading {
        margin: 3%;
    }

    #figApplication {
        border: 1px solid #333333;
        margin-left: 3%;
    }

    #figAim {
        border: 1px solid #333333;
        margin-left: 3%;
    }

    .inFig {
        padding-left: 5px;
        color: black;
    }

    .inFigHeading {
        padding-left: 10px;
        color: black;
    }

    .inFigList {
        padding-left: 30px;
    }
}

/*CSS that designs the screen for a window/device size of > 1000px*/
@media only screen and (min-width: 1000px) {
    #figApplication {
        border: 1px solid #333333;
        margin-left: 0;
    }

    #figAim {
        border: 1px solid #333333;
        margin-left: 0;
    }

    .inFig {
        padding-left: 5px;
        color: black;
    }

    .inFigHeading {
        padding-left: 10px;
        color: black;
    }

    .inFigList {
        padding-left: 30px;
    }
}

/*CSS that designs the page for windows/devices < 500px*/
@media only screen and (max-width: 500px) {
    #text {
        margin: 8%;
    }

    h1 {
        margin-left: 8%;
    }

    #subheading {
        margin-left: 8%;
    }

    #figApplication {
        border: 1px solid #333333;
        margin-left: 8%;
    }

    #figAim {
        border: 1px solid #333333;
        margin-left: 8%;
    }

    .inFig {
        padding-left: 5px;
        color: black;
    }

    .inFigHeading {
        padding-left: 10px;
        color: black;
    }

    .inFigList {
        padding-left: 30px;
    }
}

p {
    text-align: justify;
}

/*CSS that colours the navigation bars text depending on the active page and when the mouse hovers over it*/
li a.active {
    color: #60EC3D;
}

#home a:hover {
    color: #2B77EC;
    animation-name: home;
    animation-duration: 0.5s;
}

@keyframes home {
    from {color: white;}
    to {color: #2B77EC;}
}

#news a:hover {
    color: #E5212A;
    animation-name: news;
    animation-duration: 0.5s;
}

@keyframes news {
    from {color: white;}
    to {color: #E5212A;}
}

#about a:hover {
    color: #FFF829;
    animation-name: about;
    animation-duration: 0.5s;
}

@keyframes about {
    from {color: white;}
    to {color: #FFF829;}
}

#courses a:hover {
    color: #FF5F15;
    animation-name: courses;
    animation-duration: 0.5s;
}

@keyframes courses {
    from {color: white;}
    to {color: #FF5F15}
}

#faq a:hover {
    color: #A12CF8;
    animation-name: faq;
    animation-duration: 0.5s;
}

@keyframes faq {
    from {color: white;}
    to {color: #A12CF8}
}